{{extend 'layout.html'}}

<head>
<title>JS Testing</title>
<script src="{{=URL('static','js/jquery.js')}}"
        type="text/javascript"></script>
<script src="{{=URL('static','js/jquery-ui-1.8.9.custom.min.js')}}"
        type="text/javascript"></script>
<script src="{{=URL('static','js/jquery-ui.min.js')}}"
        type="text/javascript"></script>
<script src="{{=URL('static','js/piano_keyboard.js')}}"
        type="text/javascript"></script>
<script src="{{=URL('static','js/jquery.knob.js')}}"
        type="text/javascript"></script>

<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script src="{{=URL('static', 'js/sound_events.js')}}"></script>

<script>
$(function() {
    $('#piano').piano({layout:"simple", blackHeight:60, keys:15, start:12})
        .bind('pianodown', function display(event, halftone, pressed) {
            $('#note').text(pressed.join(', '));
            if (pressed == 12) {
               initializeOsc(MiddleC * range);
               sine.start();
           } else if (pressed == 13){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 1));
               sine.start();
           } else if (pressed == 14){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 2));
               sine.start();
           } else if (pressed == 15){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 3));
               sine.start();
           } else if (pressed == 16){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 4));
               sine.start();
           } else if (pressed == 17){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 5));
               sine.start();
           } else if (pressed == 18){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 6));
               sine.start();
           } else if (pressed == 19){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 7));
               sine.start();
           } else if (pressed == 20){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 8));
               sine.start();
           } else if (pressed == 21){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 9));
               sine.start();
           } else if (pressed == 22){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 10));
               sine.start();
           } else if (pressed == 23){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 11));
               sine.start();
           } else if (pressed == 24){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 12));
               sine.start();
           } else if (pressed == 25){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 13));
               sine.start();
           } else if (pressed == 26){
               initializeOsc(MiddleC * range * Math.pow(freqRatio, 14));
               sine.start();
           }
        } )
        .bind('pianoup', function(event, halftone, pressed) {
            $('#note').text(pressed.join(', '));
            soundCheck = 0;
            gainNode.gain.value = 0;
            try{
                sine.stop();
            }
            catch (e) {}
        });
});
</script>

<script>
$( function() {
    $( "#draggable" ).draggable({ handle: '#header', containment: "#main-div" });
} );
</script>

<script>
$( function() {
    $( "#draggable2" ).draggable({ handle:'#header2', containment: "#main-div"});
} );
</script>

<script>
$( function() {
    $( "#draggable3" ).draggable({ handle:'#header3', containment: "#main-div"});
} );
</script>

<script>
$( function() {
    $( "#draggable4" ).draggable({ handle:'#header4', containment: "#main-div"});
} );
</script>

<script>
    $(document).on('ready', function(){
        $("#presets-accordion").accordion({heightStyle: "fill",animate: false,collapsible: true});
        /*$("#minimize-volume").bind('click', function() {
            $('#drag-body2').toggle()
        });*/
        //Caused bugs with all other JQuery elements???
    });
</script>

<script>
$( function() {
  $().tooltip();
} );
</script>

<script>
    $(function($) {
        $(".knob").knob({
            change : function (value) {
                //console.log("change : " + value);
            },
            release : function (value) {
                //console.log(this.$.attr('value'));
                console.log("release : " + value);
            },
            cancel : function () {
                console.log("cancel : ", this);
            },
            /*format : function (value) {
                return value + '%';
            },*/
            draw : function () {

                // "tron" case
                if(this.$.data('skin') == 'tron') {

                    this.cursorExt = 0.3;

                    var a = this.arc(this.cv)  // Arc
                        , pa                   // Previous arc
                        , r = 1;

                    this.g.lineWidth = this.lineWidth;

                    if (this.o.displayPrevious) {
                        pa = this.arc(this.v);
                        this.g.beginPath();
                        this.g.strokeStyle = this.pColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();

                    return false;
                }
            }
        });
    });
</script>
<script>
    var get_url = "{{=URL('api', 'get_presets')}}";
    var add_url = "{{=URL('api', 'add_preset', user_signature=True)}}";
    var del_url = "{{=URL('api', 'delete_preset', user_signature=True)}}";
    var share_url = "{{=URL('api', 'share_preset', user_signature=True)}}";
    var unsubscribe_url = "{{=URL('api', 'unsubscribe_preset', user_signature=True)}}";
</script>
</head>

<body>
    <div>
        <div class="main-content">
            <div id="title" class="draggable-box titlebox text-center">
              <h2 class="alignleft">Synthesizer</h2>
                <img src="{{=URL('static', 'images/waves.png')}}" alt="waves" height="63" width="202">
              <h2 class="alignright">Presets</h2>
            </div>
            <hr>
            <div id="vue-div" class="display:none draggable-box vue-style1">
                <button title="You must be logged in to make presets." v-if="!is_adding" class="ui-button ui-widget ui-corner-all alignright" v-on:click="add_preset_button()" v-bind:class="{'disabled': !logged_in}">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Add new preset
                </button>
                <button v-if="is_adding" class="ui-button ui-widget ui-corner-all alignright" v-on:click="add_preset_button()" v-bind:class="{'disabled': !logged_in}">
                    <i class="fa fa-window-close-o" aria-hidden="true"></i></i> Cancel
                </button>

                <div v-if="is_adding" class="add-preset-div">
                    <br><br>
                    Name your preset: <input type="text" name="preset_name" id="preset_name_input" size="30">
                    <br><br>
                    <button style="background-color: lightslategrey;color:whitesmoke" title="Name between 1-15 characters" class="ui-button ui-widget ui-corner-all alignright" v-on:click="add_preset()">Submit</button>
                </div>
                <br><br>
                <div id="presets-accordion">
                    <h3>My presets</h3>
                    <div class="content-overflow">
                        <div v-if="logged_in">
                        <div v-for="(preset,index) in presets">
                            <div class="alignleft">
                                <a class="ui-button ui-widget ui-corner-all" style="width: 100px; overflow-x:hidden" href="#" v-on:click="set_preset(index)">${preset.preset_name}</a>
                            </div>
                            <div class="alignright">
                                <i v-if="!is_shared(index)" class="fa fa-share-square-o" v-on:click="share_preset(index)" title="Share preset" aria-hidden="true"></i>
                                <i v-else class="fa fa-share-square-o grayed-out" aria-hidden="true"></i>
                                <i class="fa fa-trash-o" v-on:click="delete_preset(index)" title="Delete preset" aria-hidden="true"></i>
                            </div>
                            <br>
                        </div>
                        </div>
                        <div v-if="!logged_in">
                            <p>Log in or sign up to get started using presets!</p>
                        </div>
                    </div>
                    <h3>Subscribed</h3>
                    <div class="content-overflow">
                        <div v-if="logged_in">
                            <p v-if="no_subscriptions()">You haven't subscribed to any community presets. Consider checking out the <a class="ui-button ui-widget ui-corner-all" href="listings">community listings</a></p>
                            <div v-for="(preset,index) in subscribed_presets">
                                <div class="alignleft">
                                <a class="ui-button ui-widget ui-corner-all" style="width: 100px; overflow-x:hidden" href="#" v-on:click="set_subscribed_preset(index)">${preset.preset_name}</a>
                                </div>
                                <div class="alignright">
                                    <i class="fa fa-trash-o" v-on:click="unsubscribe_preset(index)" title="Unsubscribe" aria-hidden="true"></i>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div v-if="!logged_in">
                            <p>Log in or sign up to get started using presets!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main-div" class="draggable-box">
                <div id="draggable" class="shrink-to-fit">
                    <div id="header" class="draggable-box-header">Keyboard</div>
                    <div id="drag-body" class="ui-widget-content draggable-box">
                        <p>Current note is: <span id="note"></span></p>
                        <div id="piano"></div>
                        <br>
                        <p>Current octave offset: <span class="octave"></span></p>
                    </div>
                </div>
                <div id="draggable2" class="shrink-to-fit">
                    <div id="header2" class="draggable-box-header">Volume</div>
                    <div id="drag-body2" class="ui-widget-content draggable-box">
                        <br>
                        <div id="knob1">
                            <input class="knob knob1" data-angleOffset=-125 data-angleArc=250 data-fgColor='#666' data-rotation="clockwise" value="35" data-width="170">
                        </div>
                        <br>
                    </div>
                </div>
                <div id="draggable4" class="shrink-to-fit">
                    <div id="header4" class="draggable-box-header">Low-pass Filter</div>
                    <div id="drag-body4" class="ui-widget-content draggable-box">
                        <br>
                        <div id="knob2">
                            <input class="knob knob2" data-angleOffset=-125 data-angleArc=250 data-fgColor='#666' data-rotation="clockwise" value="300" data-width="170" data-min="0" data-max="22000">
                        </div>
                        <br>
                    </div>
                </div>
                <div id="draggable3" class="shrink-to-fit">
                    <div id="header3" class="draggable-box-header">Waveform</div>
                    <div id="drag-body3" class="ui-widget-content draggable-box">
                        <div class="button">
                            <input type="radio" name="wave_type" value="sine" id="a" checked="checked" />
                            <label for="a">
                                <img src="{{=URL('static','images/sine-wave-small.png')}}">
                            </label>
                            <span class="button-desc">Sine wave</span>
                        </div>
                        <div class="button">
                            <input type="radio" name="wave_type" value="square" id="b" />
                            <label for="b">
                                <img src="{{=URL('static','images/square-wave-small.png')}}">
                            </label>
                            <span class="button-desc">Square wave</span>
                        </div>
                        <div class="button">
                            <input type="radio" name="wave_type" value="sawtooth" id="c" />
                            <label for="c">
                                <img src="{{=URL('static','images/sawtooth-wave-small.png')}}">
                            </label>
                            <span class="button-desc">Sawtooth wave</span>
                        </div>
                        <div class="button">
                            <input type="radio" name="wave_type" value="triangle" id="d" />
                            <label for="d">
                                <img src="{{=URL('static','images/triangle-wave-small.png')}}">
                            </label>
                            <span class="button-desc">Triangle wave</span>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $('.octave').html(octave);
</script>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>