{{extend 'layout.html'}}

<html>
    <head>
    <meta charset="utf‐8">
    <title> Hello web audio </title> </head>
    <body>
   </body>
   <script>
       var audioCtx = new (window.AudioContext || window.webkitAudioContext);

       /*var sine = audioCtx.createOscillator();
       sine.start();
       sine.connect(audioCtx.destination);*/

       var gainNode = audioCtx.createGain();
       gainNode.connect(audioCtx.destination);

       var sine = audioCtx.createOscillator();
       sine.frequency.value = 261.63;
       sine.type = "sine";
       //sine.start();

       document.onkeydown = checkPress;
       //document.onkeyup = checkRelease;

       /*function checkRelease(e) {
           e = e || window.event;
           sine.stop();
       }*/

       function checkPress(e) {
           e = e || window.event;
           if (e.keyCode == '65') {
               // up arrow
               sine.start();
           }
           /*
           //else if (e.keyCode == '40') {
               // down arrow
           }
           else if (e.keyCode == '37') {
               // left arrow
           }
           else if (e.keyCode == '39') {
               // right arrow
            }
            */
       }

       //checkRelease(e);


       sine.connect(audioCtx.destination);

   </script>
</html>



{{end}}