{{extend 'layout.html'}}
<head>
<title>JS Testing</title>
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
    var get_url = "{{=URL('api', 'get_presets')}}";
    var subscribe_url = "{{=URL('api', 'subscribe_preset', user_signature=True)}}";
    var unsubscribe_url = "{{=URL('api', 'unsubscribe_preset', user_signature=True)}}";
</script>

</head>
<body>
<div id="vue-div" class="display:none">
    <div class="flex-container">
    <header class="titlebox draggable-box">
      <h1 class="not-stupid">Community Presets</h1>
    </header>

    <nav class="nav nav-listings draggable-box">
        <p v-if="logged_in">Filters</p>
        <fieldset v-if="logged_in">
            <span>&bull;&emsp;</span><input type="checkbox" name="mine" id="mine" value="mine" checked/><label for="mine">Show my presets</label><br />
        </fieldset>
        <p>Sort By</p>
        <fieldset>
            <span>&bull;&emsp;</span><input type="radio" name="sortby" id="popular" value="popular" /><label for="popular">Popularity</label><br />
            <span>&bull;&emsp;</span><input type="radio" name="sortby" id="time" value="time" checked/><label for="time">Date added</label><br />
        </fieldset>
        <br>
        <i class="fa fa-refresh" aria-hidden="true"></i><span>&nbsp;&nbsp;</span>
        <a v-on:click="apply_filters" class="ui-button ui-widget ui-corner-all">Apply filters</a>
    </nav>
    <article class="article">
        <table class="listings-table">
            <tr>
                <th class="listings-header">Preset name</th>
                <th class="listings-header">Creator</th>
                <th class="listings-header">Date added</th>
                <th class="listings-header">Subscriptions</th>
                <th class="listings-header">Context action</th>
            </tr>
            <tr v-for="(preset,index) in presets">
                <td class="listings-data">${preset.preset_name}</td>
                <td class="listings-data">${preset.user_name}</td>
                <td class="listings-data">${preset.created_on}</td>
                <td class="listings-data">${preset.subscribes}</td>
                <td class="listings-data">
                    <p v-if="!logged_in">
                        Log in to subscribe!
                    </p>
                    <p v-else-if="is_mine(index)">
                        Owner
                    </p>
                    <a v-else-if="is_subscribed(index)" v-on:click="unsubscribe_button(index)" class="btn btn-warning">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i> Unsubscribe
                    </a>
                    <a v-else v-on:click="subscribe_button(index)" class="btn btn-warning">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Subscribe
                    </a>
                </td>
            </tr>
        </table>
        <br>
        <a v-if="has_more" v-on:click="get_more" class="ui-button ui-widget ui-corner-all">Load more</a>

    </article>

    <footer><p><a class="ui-button ui-widget ui-corner-all" href={{=URL('default','index')}}><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back home</a></p></footer>
    </div>
</div>
</body>

<script src="{{=URL('static', 'js/default_listings.js')}}"></script>
